<nav
  class="
    block
    w-full
    py-4
    text-center
    text-white
    sm:block
    md:hidden
    lg:hidden
    auth-navbar
    bg-primaryBlue
  "
>
  <h1 class="text-lg navbar-brand"><%= title %>
  </h1>
</nav>
