<section
  class="
    grid
    grid-cols-1
    md:grid-cols-[75%_25%]
    lg:grid-cols-[75%_25%]
    gap-5
    py-5
  "
>
  <div class="overview">
    <h1 class="text-3xl font-bold tracking-wider">Dashboard</h1>
    <p class="text-sm italic text-neutral-500">Here's your financial overview</p>

    <div
      class="
        card
        mt-6
        shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
        block
        rounded-lg
        bg-white
      "
    >
      <div class="flex items-center p-6 card-body gap-x-4">
        <img src="./budget-logo.png" width="15%" alt="budget-logo"/>

        <div>
          <h6 class="mb-2 text-sm text-neutral-500">My Overall Expenses</h6>
          <h1 class="text-3xl font-light md:text-5xl">$200,000.00</h1>
        </div>
      </div>
    </div>

    <div
      class="
        grid
        grid-cols-2
        gap-5
        mt-8
        categories-list
        sm:grid-cols-2
        md:grid-cols-3
        lg:grid-cols-4
      "
    >
      <div class="bg-white border rounded-md cursor-pointer card border-neutral-300">
        <div class="flex flex-col p-6 card-body gap-y-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 stroke stroke-primaryGreen"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776"
            />
          </svg>

          <div class="category-details">
            <span class="block text-sm text-neutral-400">Groceries</span>
            <h5 class="text-xl font-semibold">$200</h5>
          </div>
        </div>
      </div>

      <div class="bg-white cursor-pointer card">
        <div class="flex flex-col p-6 card-body gap-y-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 stroke stroke-primaryGreen"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776"
            />
          </svg>

          <div class="category-details">
            <span class="block text-sm text-neutral-400">Groceries</span>
            <h5 class="text-xl font-semibold">$200</h5>
          </div>
        </div>
      </div>

      <div class="bg-white cursor-pointer card">
        <div class="flex flex-col p-6 card-body gap-y-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 stroke stroke-primaryGreen"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776"
            />
          </svg>

          <div class="category-details">
            <span class="block text-sm text-neutral-400">Groceries</span>
            <h5 class="text-xl font-semibold">$200</h5>
          </div>
        </div>
      </div>

      <div class="bg-white cursor-pointer card">
        <div class="flex flex-col p-6 card-body gap-y-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 stroke stroke-primaryGreen"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776"
            />
          </svg>

          <div class="category-details">
            <span class="block text-sm text-neutral-400">Groceries</span>
            <h5 class="text-xl font-semibold">$200</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="transactions-overview">
    <div class="bg-white border rounded-md cursor-pointer card border-neutral-300">
      <div class="p-6 card-body">
        <h6 class="font-semibold">Recent Transactions</h6>
        <span class="block text-xs italic text-neutral-400">As of today...</span>

        <ul class="pl-0 mt-4">
          <li>
            <a href="" class="flex items-center justify-between">
              <section class="flex items-center gap-2">
                <div
                  class="
                    flex
                    items-center
                    justify-center
                    w-10
                    h-10
                    rounded-md
                    bg-primaryBlueDeep
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 stroke stroke-white"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"
                    />
                  </svg>
                </div>
                <div>
                  <h6 class="mb-0 text-sm font-semibold">Super</h6>
                  <span class="block text-xs text-neutral-400">2 min ago</span>
                </div>
              </section>

              <span class="text-sm font-bold text-primaryBlue">$200</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
