<div id="app" class="">
  <section id="wrapper" class="flex items-start w-full min-h-screen bg-baseColor">
    <aside
      class="
        w-0
        hidden
        sm:hidden
        md:block
        md:w-[25%]
        lg:w-[18%]
        bg-primaryBlue
        h-screen
        py-10
        md:px-3
        lg:px-8
      "
    >
      <h1 class="text-center text-white md:text-xl lg:text-3xl">
        Budget<span class="font-bold text-primaryGreen">Flow</span>
      </h1>

      <hr
        class="
          my-4
          md:w-[70%]
          lg:w-[50%]
          mx-auto
          h-px
          border-t-0
          bg-transparent
          bg-gradient-to-r
          from-transparent
          via-white
          to-transparent
          opacity-25
          dark:opacity-100
        "
      />

      <ul class="pl-0 mt-10">
        <li
          class="
            px-3
            py-3
            mb-2
            text-sm
            text-white
            cursor-pointer
            hover:bg-primaryBlueDeep
          "
        >
          <a href="" class="flex items-center gap-x-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 stroke stroke-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
              />
            </svg>
            Dashboard
          </a>
        </li>

        <li
          class="
            px-3
            py-3
            mb-2
            text-sm
            text-white
            cursor-pointer
            hover:bg-primaryBlueDeep
          "
        >
          <a href="" class="flex items-center gap-x-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 stroke stroke-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m-6 3.75l3 3m0 0l3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75"
              />
            </svg>
            Transactions
          </a>
        </li>

        <li
          class="
            px-3
            py-3
            mb-2
            text-sm
            text-white
            cursor-pointer
            hover:bg-primaryBlueDeep
          "
        >
          <a href="" class="flex items-center gap-x-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 stroke stroke-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5"
              />
            </svg>
            Account Settings
          </a>
        </li>
      </ul>
    </aside>

    <main class="main w-full sm:w-full md:w-[75%] lg:w-[82%]">
      <nav
        class="
          w-full
          bg-primaryBlue
          md:bg-white
          shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
          py-5
          px-3
          md:px-5
          lg:px-10
          flex
          items-center
          justify-between
        "
      >
        <a href="" class="hidden text-xl navbar-brand sm:hidden md:block">
          Budget<span class="font-bold text-primaryBlue">Flow</span>
        </a>

        <button
          type="button"
          class="block btn menu-btn sm:block md:hidden"
          title="menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 stroke stroke-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>

        <h5 class="text-white text-[1.2rem] font-light">DASHBOARD</h5>

        <div class="flex items-center gap-3 navbar-nav">
          <button
            type="button"
            class="
              flex
              items-center
              gap-0
              px-5
              py-2
              text-xs
              text-white
              rounded-sm
              btn
              bg-primaryBlue
              md:gap-2
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 stroke stroke-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
              />
            </svg>

            <span class="hidden sm:hidden md:block">New Category</span>
          </button>
          <!-- Second dropdown container -->
          <div class="relative hidden sm:hidden md:block" data-te-dropdown-ref>
            <!-- Second dropdown trigger -->
            <a
              class="
                flex
                items-center
                transition
                duration-150
                ease-in-out
                hidden-arrow
                gap-x-2
                whitespace-nowrap
                motion-reduce:transition-none
              "
              href="#"
              id="dropdownMenuButton2"
              role="button"
              data-te-dropdown-toggle-ref
              aria-expanded="false"
            >
              <!-- User avatar -->
              <img
                src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg"
                class="rounded-full"
                style="height: 35px; width: 35px"
                alt=""
                loading="lazy"
              />

              <div>
                <h6 class="text-sm font-semibold">John Doe</h6>
                <span class="block text-xs text-neutral-400">johndoe@gmail.com</span>
              </div>
            </a>
            <!-- Second dropdown menu -->
            <ul
              class="
                absolute
                left-auto
                right-0
                z-[1000]
                float-left
                m-0
                mt-1
                hidden
                min-w-max
                list-none
                overflow-hidden
                rounded-lg
                border-none
                bg-white
                bg-clip-padding
                text-left
                text-base
                shadow-lg
                dark:bg-neutral-700
                [&[data-te-dropdown-show]]:block
              "
              aria-labelledby="dropdownMenuButton2"
              data-te-dropdown-menu-ref
            >
              <!-- Second dropdown menu items -->
              <li>
                <a
                  class="
                    block
                    w-full
                    px-4
                    py-2
                    text-sm
                    font-normal
                    bg-transparent
                    whitespace-nowrap
                    text-neutral-700
                    hover:bg-neutral-100
                    active:text-neutral-800
                    active:no-underline
                    disabled:pointer-events-none
                    disabled:bg-transparent
                    disabled:text-neutral-400
                    dark:text-neutral-200
                    dark:hover:bg-white/30
                  "
                  href="#"
                  data-te-dropdown-item-ref
                >Action</a>
              </li>
              <li>
                <a
                  class="
                    block
                    w-full
                    px-4
                    py-2
                    text-sm
                    font-normal
                    bg-transparent
                    whitespace-nowrap
                    text-neutral-700
                    hover:bg-neutral-100
                    active:text-neutral-800
                    active:no-underline
                    disabled:pointer-events-none
                    disabled:bg-transparent
                    disabled:text-neutral-400
                    dark:text-neutral-200
                    dark:hover:bg-white/30
                  "
                  href="#"
                  data-te-dropdown-item-ref
                >Another action</a>
              </li>
              <li>
                <a
                  class="
                    block
                    w-full
                    px-4
                    py-2
                    text-sm
                    font-normal
                    bg-transparent
                    whitespace-nowrap
                    text-neutral-700
                    hover:bg-neutral-100
                    active:text-neutral-800
                    active:no-underline
                    disabled:pointer-events-none
                    disabled:bg-transparent
                    disabled:text-neutral-400
                    dark:text-neutral-200
                    dark:hover:bg-white/30
                  "
                  href="#"
                  data-te-dropdown-item-ref
                >Something else here</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="px-0 py-0 content md:px-5 lg:px-10 md:py-5">
        <%= yield %>
      </div>
    </main>
  </section>
</div>
