<nav
  class="
    w-full
    bg-primaryBlue
    md:bg-white
    shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
    py-5
    px-3
    md:px-5
    lg:px-10
    flex
    items-center
    justify-between
  "
>
  <%= link_to home_path, class:"hidden text-xl navbar-brand sm:hidden md:block" do %>
    Budget<span class="font-bold text-primaryBlue">Flow</span>
  <% end %>

  <button
    type="button"
    class="block btn menu-btn sm:block md:hidden"
    title="menu"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 stroke stroke-white"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>

  <h5 class="text-white text-[1.2rem] font-light">
    <%= navbar_title %>
  </h5>

  <div class="flex items-center gap-3 navbar-nav">

    <% if navbar_title === "DASHBOARD" || navbar_title === "CATEGORY" %>
      <%= link_to new_category_path, type:"button", class:"btn btn-custom" do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 stroke stroke-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
          />
        </svg>

        <span class="hidden sm:hidden md:block">New Category</span>
      <% end %>
    <% else %>

      <%= link_to new_category_expense_path(category_id: params[:category_id]), type:"button", class:"btn btn-custom" do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 stroke stroke-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
          />
        </svg>

        <span class="hidden sm:hidden md:block">New Transasction</span>
      <% end %>

    <% end %>
    <!-- Second dropdown container -->
    <div class="relative hidden sm:hidden md:block" data-te-dropdown-ref>
      <!-- Second dropdown trigger -->
      <a
        class="
          flex
          items-center
          transition
          duration-150
          ease-in-out
          hidden-arrow
          gap-x-2
          whitespace-nowrap
          motion-reduce:transition-none
        "
        href="#"
        id="dropdownMenuButton2"
        role="button"
        data-te-dropdown-toggle-ref
        aria-expanded="false"
      >
        <!-- User avatar -->
        <img
          src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg"
          class="rounded-full"
          style="height: 35px; width: 35px"
          alt=""
          loading="lazy"
        />

        <div>
          <h6 class="text-sm font-semibold">John Doe</h6>
          <span class="block text-xs text-neutral-400">johndoe@gmail.com</span>
        </div>
      </a>
      <!-- Second dropdown menu -->
      <ul
        class="
          absolute
          left-auto
          right-0
          z-[1000]
          float-left
          m-0
          mt-1
          hidden
          min-w-max
          list-none
          overflow-hidden
          rounded-lg
          border-none
          bg-white
          bg-clip-padding
          text-left
          text-base
          shadow-lg
          dark:bg-neutral-700
          [&[data-te-dropdown-show]]:block
        "
        aria-labelledby="dropdownMenuButton2"
        data-te-dropdown-menu-ref
      >
        <!-- Second dropdown menu items -->
        <li>
          <a
            class="
              block
              w-full
              px-4
              py-2
              text-sm
              font-normal
              bg-transparent
              whitespace-nowrap
              text-neutral-700
              hover:bg-neutral-100
              active:text-neutral-800
              active:no-underline
              disabled:pointer-events-none
              disabled:bg-transparent
              disabled:text-neutral-400
              dark:text-neutral-200
              dark:hover:bg-white/30
            "
            href="#"
            data-te-dropdown-item-ref
          >Action</a>
        </li>
        <li>
          <a
            class="
              block
              w-full
              px-4
              py-2
              text-sm
              font-normal
              bg-transparent
              whitespace-nowrap
              text-neutral-700
              hover:bg-neutral-100
              active:text-neutral-800
              active:no-underline
              disabled:pointer-events-none
              disabled:bg-transparent
              disabled:text-neutral-400
              dark:text-neutral-200
              dark:hover:bg-white/30
            "
            href="#"
            data-te-dropdown-item-ref
          >Another action</a>
        </li>
        <li>
          <a
            class="
              block
              w-full
              px-4
              py-2
              text-sm
              font-normal
              bg-transparent
              whitespace-nowrap
              text-neutral-700
              hover:bg-neutral-100
              active:text-neutral-800
              active:no-underline
              disabled:pointer-events-none
              disabled:bg-transparent
              disabled:text-neutral-400
              dark:text-neutral-200
              dark:hover:bg-white/30
            "
            href="#"
            data-te-dropdown-item-ref
          >Something else here</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
